body{
    background-color: #1C1C1C;
}
.box-1{
    position: absolute;
width: 40%;
height: 70%;
left: 8%;
top: 20%;

background: #ECFDF5;
}
.box-1 h3{
    position: absolute;
width: 332px;
height: 80px;
left: 52px;
top: 90px;

font-family: 'Karla';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 40px;
/* or 100% */

letter-spacing: -0.05em;

/* night */

color: #2B283A;
}
.box-1 p{
    
position: absolute;
width: 390px;
height: 28px;
left: 52px;
top: 200px;

/* text-xl/leading-7/font-normal */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */


color: #6B7280;
}
.btn{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 17px 9px 15px;
gap: 12px;

position: absolute;
width: 191px;
height: 42px;
left: 170px;
top: 460px;

background: #10B981;

box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
}
#button-el{
    width: 200px;
height: 24px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
border: none;
background-color: transparent;
}
#button-el:hover{
    color: rgb(21, 68, 95);
    cursor: pointer;
}
#pass-1{
    color:white;
    position: absolute;
width: 190px;
height: 30px;
left: 170px;
top: 570px;
background: #273549;
border-radius: 6px;
padding-top: 10px;
padding-left: 30px;
}
#pass-2{
    color: white;
    position: absolute;
width: 190px;
height: 30px;
left: 450px;
top: 570px;
padding-top: 10px;
padding-left: 30px;
background: #273549;
border-radius: 6px;
}
.box-2{
    position: absolute;
    width: 41%;
    height: 70%;
    left: 53%;
    top: 20%;
    
    background: #ECFDF5;
}
.box-2 h3{
    position: absolute;
width: 400px;
height: 80px;
left: 52px;
font-family: 'Karla';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 40px;
/* or 100% */

letter-spacing: -0.05em;
}
.box-2 p{
       
position: absolute;
width: 390px;
height: 28px;
left: 52px;
top: 110px;

/* text-xl/leading-7/font-normal */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */


color: #6B7280;
}

#button1,
#button2,
#button3,
#button4,
#button5,
#button6,
#button7,
#button8,
#button9,
#button10,
#button11,
#button12,
#button13,
#button14,
#button15,
#button16,
#button17,
#button18,
#button19,
#button20,
#button21,
#button22,
#button23,
#button24,
#button25,
#button26,
#button27,
#button28,
#button29,
#button30,
#button31,
#button32,
#button33,
#button34,
#button35,
#button36,
#button37,
#button38,
#button39,
#button40,
#button41,
#button42,
#button43,
#button44,
#button45,
#button46,
#button47,
#button48,
#button49,
#button50,
#button51,
#button52,
#button53,
#button54{
    background: #273549;
    color: white;
    padding: 15px;
}
.text-box h3{
    position: absolute;
    left: 870px;
    top: 343px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;

}
#text-area{
    position:absolute;
    left: 1060px;
    top: 340px;
    background-color:#273549 ;
    width: 150px;
    height: 30px;
    border: none;
    border-radius:5px;
    color:white;
    padding-left: 70px;
    padding-top: 5px;
}
.og-0{
    position: absolute;
    left: 822px;
    top: 430px;   
}
.og-1{
    position: absolute;
    left: 822px;
    top: 500px;   
}
.og-2{
    position: absolute;
    left: 822px;
    top: 570px;   
}
.og-3{
    position: absolute;
    left: 822px;
    top: 640px;   
}
.class1:hover {
    cursor: pointer;
    color: #10B981 !important;
}
.class-2:hover{
    cursor: pointer;
    color: #10B981 !important;
}

.class-3:hover{
    cursor: pointer;
    color: #10B981 !important;
}

.class-4:hover{
    cursor: pointer;
    color: #10B981 !important;
}